<video id="homeVideo" style='transform: rotateY(180deg); position: fixed; right: 0; top:0; z-index: 900' width="300" height="300" preload autoplay loop muted></video>
<canvas id="canvas" style='transform: rotateY(180deg); position: fixed; right: 0; top:0; z-index: 901' width="300" height="300" preload autoplay loop muted></canvas>

<div id="myContainer" style="position:fixed; top:0; bottom:0;left:0;right:0"></div>

<button ng-click="start()"  >START</button>


  <div style="position:fixed;top:0;left:0">

  <div>
    <div>
      <button style="background-color:grey;border:none" ng-click="buttonPressed=!buttonPressed" type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
      </button>
    </div>
  </div>
    <div ng-hide="buttonPressed===false"  class="options" >
      <div ng-repeat="control in controls">
        <button class="btn btn-success" style="width:200px;padding:5px; margin:5px;" ng-click="showOptions(control)">{{control.label}}</button>
      </div>
      <div ng-if="currentSetButton">
        <div style="margin-left:auto; margin-right:auto; background-color:yellow">
          <h3>{{currentSetButton.label}}</h3>
          <div class="btn-group pull-left" >
            <label class="btn btn-primary" ng-model="buttonOptions.color" uib-btn-radio="'yellow'">Yellow</label>
            <label class="btn btn-primary" ng-model="buttonOptions.color" uib-btn-radio="'magenta'">Magenta</label>
          </div>
          <div class="btn-group pull-right">
            <label class="btn btn-primary" ng-model="buttonOptions.axis" uib-btn-radio="'x'">x</label>
            <label class="btn btn-primary" ng-model="buttonOptions.axis" uib-btn-radio="'y'">y</label>
            <label class="btn btn-primary" ng-model="buttonOptions.axis" uib-btn-radio="'z'">z</label>
          </div>
          <div>
            <button style="margin:15px 0px; width:100%" ng-click="setControl(currentSetButton.property, buttonOptions.color, buttonOptions.axis, currentSetButton.min, currentSetButton.max)">
              SET!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
