<video id="homeVideo" style='transform: rotateY(180deg); position: fixed; right: 0; top:0; z-index: 900' width="300" height="300" preload autoplay loop muted></video>
<canvas id="canvas" style='transform: rotateY(180deg); position: fixed; right: 0; top:0; z-index: 901' width="300" height="300" preload autoplay loop muted></canvas>

<p5 sketch="{{mySketch}}" style="position:fixed; top:0; bottom:0;left:0;right:0"></p5>

  <div style="position:fixed;top:0;left:0">
    <div>
      <div>
        <button style="background-color:grey;border:none" ng-click="buttonPressedAudio=!buttonPressedAudio" type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <div ng-hide="buttonPressedAudio===false"  class="options" >
      <div ng-repeat="control in audioControls">
        <button class="btn btn-success" style="width:200px;padding:5px; margin:5px;" ng-click="showOptions(control)">{{control.label}}</button>
      </div>
    </div>
    <div>
      <div>
        <button style="background-color:grey;border:none" ng-click="buttonPressedVideo=!buttonPressedVideo" type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <div ng-hide="buttonPressedVideo===false"  class="options" >
      <div ng-repeat="control in videoControls">
        <button class="btn btn-success" style="width:200px;padding:5px; margin:5px;" ng-click="showOptions(control)">{{control.label}}</button>
      </div>
    </div>

      <!--SET THE SELECTED PARAM  -->
      <div ng-if="buttonPressedAudio || buttonPressedVideo">
        <div style="margin-left:auto; margin-right:auto; background-color:yellow">
          <h3>{{currentSetButton.label}}</h3>
          <div class="btn-group pull-left" >
            <label class="btn btn-primary" ng-model="buttonOptions.color" uib-btn-radio="'yellow'">Yellow</label>
            <label class="btn btn-primary" ng-model="buttonOptions.color" uib-btn-radio="'magenta'">Magenta</label>
          </div>
          <div class="btn-group pull-right">
            <label class="btn btn-primary" ng-model="buttonOptions.axis" uib-btn-radio="'x'">x</label>
            <label class="btn btn-primary" ng-model="buttonOptions.axis" uib-btn-radio="'y'">y</label>
            <label class="btn btn-primary" ng-model="buttonOptions.axis" uib-btn-radio="'z'">z</label>
          </div>
          <div>
            <button style="margin:15px 0px; width:100%" ng-click="setControl(currentSetButton.property, buttonOptions.color, buttonOptions.axis, currentSetButton.min, currentSetButton.max)">
              SET!
            </button>
          </div>
        </div>
        <button class="btn-danger" ng-click="clearControls()"> Clear Controls</button>
        <!--INFORMATION SECTION  -->
        <div style="color:white;background-color:blue">
          Magenta
          <p>
            x-axis:
            <span ng-repeat= 'control in magenta.x.controls'>
              {{control.property}}
            </span>
          </p>
          <p>
            y-axis:
            <span ng-repeat= 'control in magenta.y.controls'>
              {{control.property}}
            </span>
          </p>
          <p>
            z-axis:
            <span ng-repeat= 'control in magenta.z.controls'>
              {{control.property}}
            </span>
          </p>
        </div>
        <div>
        <div style="color:white;background-color:blue">
            Yellow
            <p>
              x-axis:

              <span ng-repeat= 'control in yellow.x.controls'>
                {{control.property}}

              </span>
            </p>
            <p>
              y-axis:
              <span ng-repeat= 'control in yellow.y.controls'>
                {{control.property}}
              </span>
            </p>
            <p>
              z-axis:
              <span ng-repeat= 'control in yellow.z.controls'>
                {{control.property}}
              </span>
            </p>
          </div>
        </div>
      </div>

  </div>

<div class="container" style="position: fixed; bottom: 0; margin:auto">
  <!-- <div class="row"> -->
    <div class="col-xs-8 col-xs-offset-2">
      <span class="option" ng-repeat="audioPreset in audioPresets">
        <button ng-class="{'green': audioPreset.active}" ng-click="emitAudio(audioPreset.key)" type="button" class="btn btn-default btn-lg" uib-tooltip='{{audioPreset.title}}'>
          <span aria-hidden="true"> {{audioPreset.key}}</span>
        </button>
      </span>
      <span class="option" ng-repeat="videoPreset in videoPresets">
        <button ng-class="{'green': videoPreset.active}" ng-click="emitVideo(videoPreset.key)" type="button" class="btn btn-default btn-lg" uib-tooltip='{{videoPreset.title}}'>
          <span aria-hidden="true"> {{videoPreset.key}}</span>
        </button>
      </span>
    </div>
  </div>
</div>
