<h1>MILALIIII</h1>

<video id="homeVideo" style='transform: rotateY(180deg); position: fixed; right: 0; top:0' width="300" height="300" preload autoplay loop muted></video>

<div id="myContainer"></div>

<button ng-click="start()"  >START</button>

<h3>audio</h3>
<button ng-click="frequencyX()">Frequency Control X</button>

<button ng-click="volumeY()">Volume Control Y</button>

<h3>video</h3>
<button ng-click="ellipseX()">Ellipse Control X</button>

<button ng-click="ellipseY()">Ellipse Control Y</button>

<button ng-click="width()">width</button>

<button ng-click="detune()">detune</button>
<button ng-click="playbackRate()">playbackRate</button>
<button ng-click="drift()">drfift</button>
